@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --mainbg:#845EC2;
    --subbg:#B39CD0;
    --light:#FBEAFF;
    --btn:#00C9A7;
    --text:#3f3f3f;
    --errmsg:#C34A36;
    --successmsg:#49887d;
}
.lmsg{
    font-weight: 700;
    color: var(--errmsg);
}